header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 1rem;
    padding-left: 20px;
    background-color: black;
    color: white;
}

header h1 {
    font-size: 1rem;
}