main {
    height: 91vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    padding: 10rem;
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: bisque;
    box-shadow: 4px 4px 4px 4px rgba(11, 10, 10, 0.347);

}

.even {
    background-color: rgba(185, 166, 166, 0.433);
}

.odd {
    background-color: rgba(29, 12, 1, 0.395);
}